# =========================
# Virtual Environments
# =========================
tf-metal/
.venv/
env/

# =========================
# Dataset (VERY IMPORTANT)
# =========================
data/
dataset/
raw_data/

# =========================
# Model Weights / Checkpoints
# =========================
models/
checkpoints/
*.h5
*.ckpt
*.pb
*.pth
*.pt

# =========================
# Logs
# =========================
logs/
tensorboard/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Mac
# =========================
.DS_Store
